$sideBarWidth: 210px;
$hideSideBarWidth: 54px;
$sidebarDuration: 0.28s;

$headerHeight: 60px;
$tagViewHeight: 45px;
$footerHeight: 30px;

$minContainerWidth: 980px;

:export {
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
  tagViewHeight: $tagViewHeight;
  footerHeight: $footerHeight;
  minContainerWidth: $minContainerWidth;
}
