$sideBarWidth: 210px;
$hideSideBarWidth: 54px;
$sidebarDuration: 0.28s;

$headerHeight: 60px;
$tagViewHeight: 45px;
$footerHeight: 30px;

// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 ESM 进行导入
:export {
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
  tagViewHeight: $tagViewHeight;
  footerHeight: $footerHeight;
}
