html.dark {
	--qz-admin-text-color: #CFD3DC;
	--qz-admin-text-color-1: #fff;
	--qz-admin-border-color: rgb(65, 66, 67);
	--qz-admin-bg-color: #141414;

	--qz-admin-aside-border-color: rgb(65, 66, 67);
	--qz-admin-app-main-bg-color: #141414;
	--el-color-success: var(--el-color-primary)
}

html.light {
	--qz-admin-text-color: #000000;
	--qz-admin-text-color-1: #cccccc;
	--qz-admin-border-color: rgba(0, 21, 41, 0.08);
	--qz-admin-bg-color: #ffffff;

	--qz-admin-aside-border-color: #141414;
	--qz-admin-app-main-bg-color: #f0f2f5;
}