html.dark {
	--qz-admin-text-color: #CFD3DC;
	--qz-admin-text-color-1: #fff;
	--qz-admin-border-color: rgb(65, 66, 67);
	--qz-admin-bg-color: #141414;

	--qz-admin-aside-border-color: rgb(65, 66, 67);
	--qz-admin-app-main-bg-color: #141414;

	// 改写 下拉框 背景色
	.el-dropdown-menu {
		background-color: var(--el-bg-color-overlay);
	}

	.el-popper__arrow {
		&::before {
			background-color: var(--el-bg-color-overlay) !important;
		}
	}

	// 改写搜索框下拉框样式
	.el-input__inner {
		background-color: var(--el-bg-color-overlay);
	}

	.el-select-dropdown {
		background-color: var(--el-bg-color-overlay);
	}

	// 改写弹出框样式
	.el-dialog {
		background-color: var(--el-bg-color-overlay);
	}

	// 改写 Notification
	.el-notification {
		background-color: var(--el-bg-color-overlay);
		.el-notification__group {
			.el-notification__title {
				color: var(--qz-admin-text-color-1);
			}
			.el-notification__content {
				color: var(--qz-admin-text-color-1);
			}
		}
	}
}

html.light {
	--qz-admin-text-color: #000000;
	--qz-admin-text-color-1: #cccccc;
	--qz-admin-border-color: rgba(0, 21, 41, 0.08);
	--qz-admin-bg-color: #ffffff;

	--qz-admin-aside-border-color: #141414;
	--qz-admin-app-main-bg-color: #f0f2f5;
}